services:
  # POSTGRES de KEYCLOAK
  keycloak-db:
    image: postgres:15
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    volumes:
      - keycloak-data:/var/lib/postgresql/data
    networks:
      - keycloak-net
  # KEYCLOAK (última versión estable)
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: keycloak
    hostname: keycloak
    command: start-dev
    ports:
      - "8081:8080"
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password

      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    depends_on:
      - keycloak-db
    networks:
      - keycloak-net
      - tpi-net
    restart: always

  gateway:
    build:
      dockerfile: Dockerfile
      context: ./gateway-service
    image: tpi/gateway
    ports:
      - "8080:8080"
    environment:
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:8080/realms/tpi-backend
    depends_on:
      - keycloak
    networks:
      - tpi-net

  # MICROSERVICIO CLIENTE DB
  clientes-db:
    image: postgres:15
    container_name: clientes-db
    environment:
      POSTGRES_DB: ${CLIENTES_DB}
      POSTGRES_USER: ${CLIENTES_USER}
      POSTGRES_PASSWORD: ${CLIENTES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - clientes-data:/var/lib/postgresql/data
    restart: always
    networks:
      - clientes-network

  # MICROSERVICIO CLIENTE
  cliente-service:
    container_name: cliente-service
    image: tpi/cliente-service
    build:
      dockerfile: Dockerfile
      context: ./cliente-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://clientes-db:5432/${CLIENTES_DB}
      SPRING_DATASOURCE_USERNAME: ${CLIENTES_USER}
      SPRING_DATASOURCE_PASSWORD: ${CLIENTES_PASSWORD}

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:8080/realms/tpi-backend
    depends_on:
      - clientes-db
    ports:
      - "8082:8081"
    networks:
      - clientes-network
      - tpi-net
    restart: always

  # MICROSERVICIO SOLICITUD
  solicitud-db:
    image: postgres:15
    container_name: solicitud-db
    environment:
      POSTGRES_DB: ${SOLICITUD_DB}
      POSTGRES_USER: ${SOLICITUD_USER}
      POSTGRES_PASSWORD: ${SOLICITUD_PASSWORD}
    ports:
      - "5434:5432"
    volumes:
      - solicitud-data:/var/lib/postgresql/data
    restart: always
    networks:
      - solicitud-network

  # MICROSERVICIO SOLICITUD
  solicitud-service:
    container_name: solicitud-service
    image: tpi/solicitud-service:latest
    build:
      dockerfile: Dockerfile
      context: ./solicitud-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://solicitud-db:5432/${SOLICITUD_DB}
      SPRING_DATASOURCE_USERNAME: ${SOLICITUD_USER}
      SPRING_DATASOURCE_PASSWORD: ${SOLICITUD_PASSWORD}

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:8080/realms/tpi-backend
    depends_on:
      - solicitud-db
    expose:
      - "8083"
    networks:
      - solicitud-network
      - tpi-net
    restart: always

  # MICROSERVICIO CONTENEDOR DB
  contenedor-db:
    image: postgres:15
    container_name: contenedor-db
    environment:
      POSTGRES_DB: ${CONTENEDOR_DB}
      POSTGRES_USER: ${CONTENEDOR_USER}
      POSTGRES_PASSWORD: ${CONTENEDOR_PASSWORD}
    ports:
      - "5435:5432"
    volumes:
      - contenedor-data:/var/lib/postgresql/data
    restart: always
    networks:
      - contenedor-network

  # MICROSERVICIO CONTENEDOR
  contenedor-service:
    container_name: contenedor-service
    image: tpi/contenedor-service:latest
    build:
      dockerfile: Dockerfile
      context: ./contenedor-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://contenedor-db:5432/${CONTENEDOR_DB}
      SPRING_DATASOURCE_USERNAME: ${CONTENEDOR_USER}
      SPRING_DATASOURCE_PASSWORD: ${CONTENEDOR_PASSWORD}

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:8080/realms/tpi-backend
    depends_on:
      - contenedor-db
    expose:
      - "8082"
    networks:
      - contenedor-network
      - tpi-net
    restart: always

#Chequeado tarifas

  postgres_tarifa:
    image: postgres:16
    container_name: postgres_tarifa
    environment:
      POSTGRES_DB: tarifa_db
      POSTGRES_USER: tarifa_user
      POSTGRES_PASSWORD: tarifa_pass
    ports:
      - "5439:5432"
    volumes:
      - tarifa_data:/var/lib/postgresql/data
    networks:
      - tarifa-network

  tarifa-service:
    build:
      context: ./tarifa-service
      dockerfile: Dockerfile
    container_name: tarifa-service
    ports:
      - "8087:8087"
    depends_on:
      - postgres_tarifa
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres_tarifa:5432/tarifa_db
      SPRING_DATASOURCE_USERNAME: tarifa_user
      SPRING_DATASOURCE_PASSWORD: tarifa_pass

      #verificar
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:8080/realms/tpi-backend
    networks:
      - tarifa-network
      - tpi-net

  #Chequeado RUTAS
  postgres_ruta:
    image: postgres:16
    container_name: postgres_ruta
    environment:
      POSTGRES_DB: ruta_db
      POSTGRES_USER: ruta_user
      POSTGRES_PASSWORD: ruta_pass
    ports:
      - "5438:5432"
    volumes:
      - ruta_data:/var/lib/postgresql/data
    networks:
      - ruta-network

  ruta-service:
    build:
      context: ./ruta-service
      dockerfile: Dockerfile
    container_name: ruta-service
    ports:
      - "8086:8086"
    depends_on:
      - postgres_ruta
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres_ruta:5432/ruta_db
      SPRING_DATASOURCE_USERNAME: ruta_user
      SPRING_DATASOURCE_PASSWORD: ruta_pass

      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:8080/realms/tpi-backend
    networks:
      - ruta-network
      - tpi-net
#GEOAPI
  geoapi:
    build:
      context: ./geoapi
      dockerfile: Dockerfile
    container_name: geoapi
    ports:
      - "8088:8088"
    environment:
      GOOGLE_MAPS_APIKEY: ${GOOGLE_MAPS_APIKEY}
    networks:
      - ruta-network

volumes:
  contenedor-data:
  keycloak-data:
  clientes-data:
  solicitud-data:
  tarifa_data:
  ruta_data:


networks:
  keycloak-net:
    driver: bridge
  clientes-network:
    driver: bridge
  solicitud-network:
    driver: bridge
  contenedor-network:
    driver: bridge
  tarifa-network:
    driver: bridge
  ruta-network:
    driver: bridge
  tpi-net:
    driver: bridge
