services:
  # POSTGRES de KEYCLOAK
  keycloak-db:
    image: postgres:15
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    volumes:
      - keycloak-data:/var/lib/postgresql/data
    networks:
      - keycloak_net

  # KEYCLOAK (última versión estable)
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: keycloak
    command: start-dev
    ports:
      - "8180:8080"
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

    depends_on:
      - keycloak-db
    networks:
      - keycloak_net

    restart: always

volumes:
  keycloak-data:


#  keycloak:
#    image: quay.io/keycloak/keycloak:24.0
#    container_name: keycloak
#    command:
#      - start-dev
#    environment:
#      KC_DB: postgres
#      KC_DB_URL: jdbc:postgresql://postgres_keycloak:5432/keycloak_db
#      KC_DB_USERNAME: admin
#      KC_DB_PASSWORD: admin
#      KEYCLOAK_ADMIN: admin
#      KEYCLOAK_ADMIN_PASSWORD: admin
#    ports:
#      - "8080:8080"
#    depends_on:
#      - postgres_keycloak
#    networks:
#      - microservices-net


#  postgres_keycloak:
#    image: postgres:16
#    container_name: postgres_keycloak
#    environment:
#      POSTGRES_DB: keycloak_db
#      POSTGRES_USER: admin
#      POSTGRES_PASSWORD: admin
#    volumes:
#      - keycloak_data:/var/lib/postgresql/data
#    networks:
#      - microservices-net




networks:
    keycloak_net:
        driver: bridge