services:
  # POSTGRES del MICROCLIENTE
  clientes-db:
    image: postgres:15
    container_name: clientes-db
    environment:
      POSTGRES_DB: ${CLIENTES_DB}
      POSTGRES_USER: ${CLIENTES_USER}
      POSTGRES_PASSWORD: ${CLIENTES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - clientes-data:/var/lib/postgresql/data
    restart: always
    networks:
      - clientes-network

  # MICROSERVICIO CLIENTE
  cliente-service:
    build:
      dockerfile: Dockerfile
    container_name: cliente-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://clientes-db:5432/${CLIENTES_DB}
      SPRING_DATASOURCE_USERNAME: ${CLIENTES_USER}
      SPRING_DATASOURCE_PASSWORD: ${CLIENTES_PASSWORD}
    depends_on:
      - clientes-db
      - keycloak
    ports:
      - "8081:8081"
    networks:
      - clientes-network
    restart: always

volumes:
  clientes-data:

networks:
    clientes-network:
        driver: bridge
