server:
  port: 8081

spring:
  application:
    name: cliente-service

  datasource:
    url: jdbc:postgresql://postgres_cliente:5432/cliente_db
    username: cliente_user
    password: cliente_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true