server:
  port: 8087

spring:
  application:
    name: tarifa-service

  datasource:
    url: jdbc:postgresql://postgres_tarifa:5432/tarifa_db
    username: tarifa_user
    password: tarifa_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
