server:
  port: 8085

spring:
  application:
    name: deposito-service

  datasource:
    url: jdbc:postgresql://postgres_deposito:5432/deposito_db
    username: deposito_user
    password: deposito_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
