server:
  port: 8086

spring:
  application:
    name: ruta-service

  datasource:
    url: jdbc:postgresql://postgres_ruta:5432/ruta_db
    username: ruta_user
    password: ruta_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
