server:
  port: 8082

spring:
  application:
    name: contenedor-service

  datasource:
    url: jdbc:postgresql://postgres_contenedor:5432/contenedor_db
    username: contenedor_user
    password: contenedor_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
