server:
  port: 8082

spring:
  application:
    name: solicitud-service

  datasource:
    url: jdbc:postgresql://postgres_solicitud:5432/solicitud_db
    username: solicitud_user
    password: solicitud_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true